<div class="container panel panel-default">
  <div class="row bold">
    <div class="col-sm-1">Model</div>
    <div class="col-sm-1">Nickname</div>
    <div class="col-sm-2">Species</div>
    <div class="col-sm-1">HP</div>
    <div class="col-sm-1">ATK</div>
    <div class="col-sm-1">DEF</div>
    <div class="col-sm-1">SPA</div>
    <div class="col-sm-1">SPD</div>
    <div class="col-sm-1">SPE</div>
    <div class="col-sm-1">Gender</div>
  </div>

  <% @daycare_pokemons.each do |pokemon| %>
    <div class="row">
      <div class="col-sm-1">
        <%= image_tag '/assets/emolga.gif' %>
      </div>
      <div class="col-sm-1"><%= pokemon.nickname.titleize %></div>
      <div class="col-sm-2"><%= pokemon.pokemon.identifier.titleize %></div>
      <div class="col-sm-1 <%= iv_helper(pokemon.hp_iv) %>"></div>
      <div class="col-sm-1 <%= iv_helper(pokemon.atk_iv) %>"></div>
      <div class="col-sm-1 <%= iv_helper(pokemon.def_iv) %>"></div>
      <div class="col-sm-1 <%= iv_helper(pokemon.spa_iv) %>"></div>
      <div class="col-sm-1 <%= iv_helper(pokemon.spd_iv) %>"></div>
      <div class="col-sm-1 <%= iv_helper(pokemon.spe_iv) %>"></div>

      <div class="col-sm-2"><%= pokemon.gender_word %></div>
    </div>
  <% end %>
</div>
