<%= simple_form_for @daycare_pokemon do |f| %>
  <div class="row">
    <div class="col-sm-2">
      <%= f.input :nickname, label: false, placeholder: 'Nickname' %>
      <%= f.input :pokemon, as: :string, label: false, placeholder: 'Pokemon' %>
      <%= f.input :ability, as: :string, label: false, placeholder: 'Ability' %>
      <%= f.input :nature, as: :string, label: false, placeholder: 'Nature' %>

      <!-- Hidden Fields -->
      <%= f.hidden_field :pokemon_id %>
      <%= f.hidden_field :ability_id %>
      <%= f.hidden_field :nature_id %>

    </div>
    <div class="col-sm-2">
      <%= simple_fields_for :moveset do |m| %>
        <%= m.input :move1, label: false, placeholder: "Move 1" %>
        <%= m.input :move2, label: false, placeholder: "Move 2" %>
        <%= m.input :move3, label: false, placeholder: "Move 3" %>
        <%= m.input :move4, label: false, placeholder: "Move 4" %>
      <% end %>

      <!-- Hidden Fields -->
      <%= f.hidden_field :move1 %>
      <%= f.hidden_field :move2 %>
      <%= f.hidden_field :move3 %>
      <%= f.hidden_field :move4 %>
    </div>
    <div class="col-sm-3">
      <div class="row">
        <div class="col-sm-6">
          <%= f.input :hp_iv, as: :boolean, label: "HP" %>
          <%= f.input :atk_iv, as: :boolean, label: "ATK" %>
          <%= f.input :def_iv, as: :boolean, label: "DEF" %>
        </div>
        <div class="col-sm-6">
          <%= f.input :spe_iv, as: :boolean, label: "SPE" %>
          <%= f.input :spa_iv, as: :boolean, label: "SPA" %>
          <%= f.input :spd_iv, as: :boolean, label: "SPD" %>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <%= f.input :gender, collection: @genders, label_method: lambda{|l| l[:label]}, value_method: lambda{|l| l[:value]}, as: :radio_buttons, label: false %>
    </div>

    <div class="col-sm-2">
      <%= f.button :submit, 'New', class: 'btn btn-success' %>
    </div>
  </div>

<% end %>
